.top-logo {
  margin: 30px auto 0;
  max-width: 570px;
}
.top-logo img{
  margin-left: 115px;
}
#word_search .word {
  height: 40px;
}
.form-search {
  width: 570px;
  margin-top: 30px;
}
.form-search button {
  height: 40px;
  width: 80px;
}
.form-add {
  width: 570px;
  margin-top: 5px;
  display: none;
}

.word-detail {
  margin-top: 5px;
  margin-bottom: 0px;
  width:570px;
}
.word-detail .id-word {
  display: none;
}
.alert{
  width:570px;
}
#alert_box{
  margin-top: 5px;
}
.autocomplete-suggestions {
  border: 1px solid #999; background: #FFF; overflow: auto;
  margin-right: -7px;
}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

.word-detail .word {
  vertical-align: middle;
  width: 41%;
  display:inline-block;
}

.word-detail .translation {
  vertical-align: middle;
  width: 43%;
  display:inline-block;
}
.alert {
  display: none;
}
.form-update {
  width: 570px;
  margin-top: 3px;
  display: none;
}
.form-group{
  margin-right:3px;
  width: 40%;
}
.box-words {
  margin-top: 40px;
}
.words_list li {
  list-style: none;
}
.words_list .word {
  vertical-align: middle;
  width: 230px;
  display: inline-block;
}
.words_list .translation {
  vertical-align: middle;
  max-width: 255px;
  display: inline-block;
}
.words_list > li {
  border-bottom: 1px solid #DDDDDD;
  padding: 6px;
}
.box-search {
  margin: 0 auto;
  padding: inherit;
  max-width: 570px;
}
.label-list{
  margin-bottom:10px;
}

.label-list span, .total-words span{
  font-size: 13px;
  padding: 3px 10px;
}
.total-words {
  text-align:center;
  margin-bottom: 15px;
}

.all-words {
  margin-top: 25px;
  text-align: center;
}
.all-words a{
  margin-right: 10px;
}
.box-words{
  margin: 0 auto;
  padding: inherit;
  max-width: 600px;
  margin-top: 30px;
}
#footer {
  margin-top: 30px;
  height: 60px;
  background-color: #f5f5f5;
  text-align: right;
  padding: 25px;
}
.like-word {
  float: right;
}
.input-like-word {
  display: inline-block;
  margin: 0 5px;
}
#random_words_slide {
  height: 250px;
  margin: 10px auto;
  width: 100%;
}
.glyphicon-chevron-left:before {
  content: "«";
}
.glyphicon-chevron-right:before {
  content: "»";
}
.carousel-control.right {
  background-image: none;
  background-repeat: repeat-x;
  right: 22px;
}
.carousel-control.left {
  background-image: none;
  background-repeat: repeat-x;
}
.carousel-control {
  bottom: 0;
  color: #000000;
  font-size: 40px;
  left: 0;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  top: 0;
  width: 15px;
}

.glyphicon, .glyphicon-chevron-left, .glyphicon-chevron-right {
  top: 41% !important;
}
.carousel {
  border: 1px solid #DDDDDD;
}
.carousel-inner{
  height: 250px;
  text-align: center;
}
.carousel-inner > .item {
  font-size: 35px;
  padding-top: 65px;
}
.carousel-inner > .item .word{
  color: #1A8CC9;
}

.carousel-inner > .item .translation{
  display: none;
}
