// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  // background-color: #eee
}

#word_search .word {
  width: 456px;
  height: 40px;
}
.form-search {
  margin-top: 100px;
}
.form-search button {
  height: 40px;
  width: 80px;
}
.form-add {
  width: 456px;
  margin-top: 5px;
  display: none;
}

.autocomplete-suggestions {
  border: 1px solid #999; background: #FFF; overflow: auto;
  margin-right: -7px;
}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

.word-detail {
  margin-top: 5px;
}
.word-detail .word {
  width: 150px;
}

.word-detail .translation {
  width: 250px;
}
.alert {
  display: none;
}
.form-update {
  display: none;
}
.box-words {
  margin-top: 40px;
}
.words_list li {
  list-style: none;
}
.words_list .word {
  width: 150px;
  display: inline-block;
}
.words_list > li {
  border-bottom: 1px solid #DDDDDD;
  height: 30px;
  line-height: 30px;
}
