// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  // background-color: #eee
}

#word_search .word {
  width: 400px;
  height: 40px;
  margin-right: 10px;
}
.form-search {
  margin-top: 100px;
}
.form-search button {
  height: 40px;
  width: 80px;
}
.form-add {
  margin-top: 30px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
